@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Teko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/fidel-fernando-OKJlJn5smek-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}

.map {
  display: flex;
  flex-direction: column-reverse;
  border: 5px solid;
  align-items: center;
  justify-content: center;
}

.location-box {
  height: 40vh;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: #cccccc;
  opacity: .7;
  font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
padding: -1000px;
margin: -1000;
}
.address{
  width: 40vw;
}
.home-logo {
  height: 200px;
  width: auto;
}

.home-button {
  margin-top: 30px;
}

.map-container {
 
  height: 70vh;
  width: 95%;
}
 .link{
  color: inherit;
 }
 .restaurant-name{
  font-weight: bold;
 }
.btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-evenly; */
  color: white;
  align-self: auto;
  gap: 5px;
}

.button-56 {
  align-items: center;
  background-color: rgb(231, 202, 130);
  border: 2px solid rgb(161, 161, 161);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: 'Teko', sans-serif;
  font-size: 23px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex-grow: 3;
  flex-wrap: wrap;
} */

 .button-56:after {
  background-color: rgb(12, 12, 12);
  border-radius: 8px;
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);

}

.button-56:active {
  background-color: #818181;
  outline: 0;
}

.button-56:hover {
  outline: 2;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 3px 40px;
  }
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 70vh;



}
.home-button{
 display: flex;
 gap: 5px;

}


.map{
  height: 100%;
}
.px-4{
  height: 80px;
}
.max-w-7xl{
  height: 80px;
}
.item{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.price{
 text-decoration:underline;
}

.menu-h1{
  font-size: 22px;
  font-weight: 700;
  margin-left: 40%;
}

.flex-shrink-0{
  padding-top: 50px;
}

.underline{
  border: 1px solid gray;
  margin-bottom: 20px;
}

.text-gray-300{
  font-weight: 500;
  font-size: 15px;
  color: white;

}

.wrapper {
  max-width: 1350px;
  padding: 0px 60px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.wrapper img {
  cursor: pointer;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
}

.overlay img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.overlay>span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 999;


}
.container{
  color: rgb(43, 43, 43);
  font-weight:bolder;
  font-size: larger;
  background-color: white;
  opacity: .8;
}